body{
  padding: 0px!important;
  margin: 0px!important;
  background: #000 url(../images/background.jpg);
  font-family: 'Open Sans', sans-serif;
}

.default-page-heading{
  padding-top: 30px;
  padding-bottom: 30px;
  background: #000 url(../images/head-bg.jpg);
}

.row{
  margin: 0px!important;
  padding: 0px!important;
}

.container-fluid{
  padding: 0px!important;
  margin: 0px!important;
}

.navbar-top{
  width: 100%;
}

.p-0{
  padding: 0px!important;
}

.bg-white{
  background-color: #fff!important;
  opacity: 1;
  z-index: 1000;
}

.bg-red{
  background-color: #c32025!important;
}

.bg-black{
  background-color: #282828!important
}

.bg-blackdark{
  background-color: #1a1a1a!important
}

.p-30{
  padding: 20px!important;
}

.p-10{
  padding: 10px!important;
}




.logo-img{
  width:220px;
  height:75px;
  margin-right: 30px;
}


.navbar-nav .nav-link{
  color: #fff;
  text-transform: uppercase;
  margin-right: 20px;
  font-size: 14px;
}

.nav-link:focus, .navbar-nav a:hover{
  background-color: #282828!important;
}

.slider-img{
  width: 100%;
  height: 550px;
}

.content-section h2{
  padding-top: 30px;
  padding-bottom: 20px;
  font-weight: 700;
}

.f-22{
  font-size: 22px!important;
}

.f-30{
  font-size: 30px!important;
}
.footer-bottom{
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-bottom p{
  margin-bottom: 0px;
}


.text-content{
  padding-top: 50px;
  padding-bottom: 30px;
}

.default-page-heading h1{
  font-size: 2rem!important;
}

.default-page-containt h3{
  font-size: 1.5rem!important;
  padding-bottom: 10px;
}

.list-design{
  list-style-type: none;
  padding-left: 10px;
}


.list-design li:before{
  content: "\00BB";
  font-size: 25px;
  margin-right: 8px;
}

.card{
  border: 1px solid #fff;
  margin-bottom: 30px;
}

.card-body{
  background-color: #282828;
  color: #fff;
}

.text p{
  font-size: 18px;
  margin-top: 10px;
}
